.App {
  text-align: center;
  display: flex;
  max-height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  height: 80vh;
}

.photoslider {
  display: flex;
  flex-direction: row;
  height: 90%;
  overflow-x: hidden;
}

.controls_container {
  height: 100%;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  width: 20vw;
  height: auto;
  margin-bottom: 10vh;
  border-radius: 50px;
  background-color: rgba(152, 152, 152, 0.221);
}

.controls_deactivated {
  display: flex;
  align-items: center;
  width: 20vw;
  height: auto;
  margin-bottom: 10vh;
  border-radius: 50px;
  background-color: rgba(152, 152, 152, 0.105);
}
.controls-back {
  width: 50%;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.controls-forward {
  width: 50%;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.back_btn {
  color: transparent;
  border: solid;
  height: 5vh;
  width: auto;
  transform: rotate(180deg);
}

.forward_btn {
  color: transparent;
  background-color: transparent;
  border: solid;
  height: 5vh;
  width: auto;
}

.arrow {
  enable-background: new 0 0 492.004 492.004;
  height: 5vh;
}

.photoobject {
  height: 100%;
  width: auto;
  min-width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoobject img {
  max-width: 80%;

  height: auto;
}

/** About Us styles */
.aboutwrap {
  height: 100%;
  display: flex;
}

.imageSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}
.formSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Photo {
  height: 50vh;
  width: auto;
}

.textWrap {
  width: 60%;
  font-size: Large;
  line-height: 1.5em;
  font-family: -apple-system, Oxygen, Roboto, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/** Contact Form Stylings */

.formContainer {
  width: 50vh;
  color: black;
}

.contact-form {
}
.form-row {
  display: flex;
  width: 100%;
}

.label {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  margin-left: 10px;
  color: black;
}

.form-control-input {
  width: 100%;
  height: 2vh;
  margin: 10px;
}

.form-control-textera {
  height: 20vh;
  margin: 10px;
  width: 100%;
}

.submit-btn {
  background-color: rgb(126, 112, 112);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin: 10px;
  color: white;
}
.submit-btn {
  transition-duration: 0.4s;
}
.submit-btn:hover {
  background-color: #3b683c; /* Green */
}

.form-title {
  color: black;
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
}

/** HEADER STYLINGS

/**
 * Images a now responsive
 */
img {
  max-width: 100%;
  height: auto;
}

/**
 * Limit the container in
 * width for big screens
 */
.container {
  width: 2000px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in
 * small screens
 */
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-header {
  background-color: rgb(57, 55, 55);
  color: white;
}

/**
 * The followings are to
 * make things more
 * clean and airy
 * and contents centered
 */
.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline;
}
.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  color: white;
}

/* Footer Stylings */
.footer_container {
  width: 965px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-footer .footer_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-footer {
  background-color: rgb(57, 55, 55);
  color: white;
}

.main-links ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-links li {
  display: inline;
}
.main-links a {
  display: inline-block;
  padding: 0.5em 1.5em;
  color: white;
}

.icon {
  height: 500px;
  width: auto;
  font-size: 200px;
}
